.todo-app-Header {
  text-align: center;
  margin-top: 1rem;
}

.addTodo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20vh;
  gap: 7rem;
}

.add-container {
  width: 50%;
  height: 40%;
  border-radius: 10px;
  outline: none;
  text-align: center;
  margin-left: 1rem;
  border: 4px solid black;
}

.add-container:focus {
  border: 4px solid green;
}

.btn {
  border-radius: 10px;
  border: 4px solid black;
  width: 10%;
  height: 40%;
  cursor: pointer;
  background-color: white;
}

.btn:hover {
  border-radius: 10px;
  border: 4px solid gray;
  color: gray;
}

@media screen and (max-width: 964px) {
  .btn {
    height: 30%;
    width: 100px;
  }
  .add-container {
    width: 400px;
  }
  .addTodo-container {
    gap: 1rem;
  }
}
