.showTodo-Container {
  height: 100%;
}

.design-container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  border: 2px solid GREEN;
}

.label-container {
  padding: 1rem;
  line-height: 2.5;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  text-decoration-color: red !important;
}

@media screen and (max-width: 964px) {
  .design-container {
    width: 100%;
    gap: 0.5rem;
  }

  .label-container {
    width: 60%;
    overflow: auto;
  }
}
